{% extends 'paginas/modelo.html' %}
{% load static %}
{% block title %}Quem somos{% endblock title %}


{% block information %}
<div class="container border-bottom shadow ">
    <!-- Coluna TOP 1/2 -->
    <div class="row bg-white px-5 pt-5 text-black">
        <h1 class="fw-bold">Quem somos</h1>
        <p class="text-secondary">Raffles Ticket</p>
        
        <!-- Coluna 1/2 -->
        <div class="col">
            <div class="my-5">
                <img src="{% static 'img/base/metalurgica.jpg' %}" width="100%" heigth="100%">
            </div>
        </div>

        <!-- Coluna 2/2 -->
        <div class="col">
            <div class="my-5 ">
                <h3 class="fw-semibold">Fundada no final de 2022</h3>
                <p class="text-justify">Ducimus quisquam optio quo ex vitae assumenda. Commodi quam eos ex necessitatibus eveniet reiciendis pariatur natus, sint omnis accusamus neque distinctio beatae ratione. Sapiente illo aliquam suscipit, exercitationem ex quas numquam facere autem, exercitationem distinctio cumque repellat quos voluptates perspiciatis quidem officiis nam molestiae.</p>
            </div>
            <div class="my-5 ">
                <h3 class="fw-semibold">Diferenciais</h3>
                <p>Ducimus quisquam optio quo ex vitae assumenda. Commodi quam eos ex necessitatibus eveniet reiciendis pariatur natus, sint omnis accusamus neque distinctio beatae ratione.</p>
            </div>
        </div>
    </div>
</div>
{% endblock information %}

{% block main-content %}
    
    
{% endblock main-content %}