{% extends 'paginas/modelo.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block information %}
<div class="container">
  <div class="container mt-4">
    <div class="mb-5">
      <h3><span class="border-warning border-bottom border-5 text-black">NOSSOS </span> <strong class="text-warning fw-superbold">SORTEIOS</strong></h3>
      <p class="text-secondary">Escolha um sorteio</p>
    </div>
    <div class="container text-center">
      <div class="row">

        <!-- Produto 1/2 -->
        <div class="col p-0 m-1 border rounded-3 bg-secondary-subtle">
          <div>
            <img class="rounded-2 rounded-bottom-0" src="{% static "img/produtos/iphone13.png" %}" width="100%" heigth="100%">
          </div>
          <div class="border-secondary-subtle  p-1 mt-2 ">

            <!-- Descrição -->
            <h5 class=" m-0 fw-bold">IPHONE 13 128GB MEIA-NOITE</h5>
            <ul class="text-start mt-2 mb-2">
              <li>Restam: <strong class="text-decoration-underline">43 números</strong>.</li>
              <li>Não perca a oportunidade de concorrer!</li>
            </ul>
            <!-- FIM-Descrição -->

            <!-- Progresso -->
            <p class="text-start fw-bold mb-0 ">Progresso:</p>
            <div class="progress mb-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated fw-semibold" style="width: 75%">75%</div>
            </div>
            <!-- FIM-Progresso -->

            <!-- Comprar -->
            <a href="#">
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success fw-bold" type="button">Comprar</button>
              </div>
            </a>
            <!-- FIM-Comprar -->
          </div>
        </div>
        <!-- FIM-Produto 1/2 -->
      
        <!-- Produto 2/2 -->

        <div class="col p-0 m-1 border rounded-3 bg-secondary-subtle">
          <div>
            <img class="rounded-2 rounded-bottom-0" src="{% static "img/produtos/motorola.png" %}" width="100%" heigth="100%">
          </div>
          <div class="border-secondary-subtle  p-1 mt-2 ">
            <h5 class=" m-0 fw-bold">MOTOROLA E40 64GB ROSE</h5>
            <ul class="text-start mt-2 mb-2">
              <li>Restam: <strong class="text-decoration-underline">2 números</strong>.</li>
              <li>Não perca a oportunidade de concorrer!</li>
            </ul>

            <!-- Progresso -->
            <p class="text-start fw-bold mb-0 ">Progresso:</p>
            <div class="progress mb-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated fw-semibold" style="width: 98%">98%</div>
            </div>
            <!-- FIM-Progresso -->

            <a href="#">
              <div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn btn-success fw-bold" type="button">Comprar</button>
              </div>
            </a>
          </div>
        </div>
        <!-- FIM-Produto 2/2 -->

        <!-- Produto 1/2 -->
        <div class="col p-0 m-1 border rounded-3 bg-secondary-subtle">
          <div>
            <img class="rounded-2 rounded-bottom-0" src="{% static "img/produtos/ps5.png" %}" width="100%" heigth="100%">
          </div>
          <div class="border-secondary-subtle  p-1 mt-2 ">
            <h5 class=" m-0 fw-bold">PS5 825GB + 1 controle</h5>
            <ul class="text-start mt-2 mb-2">
              <li>Restam: <strong class="text-decoration-underline">923 números</strong>.</li>
              <li>Não perca a oportunidade de concorrer!</li>
            </ul>

            <!-- Progresso -->
            <p class="text-start fw-bold mb-0 ">Progresso:</p>
            <div class="progress mb-2" role="progressbar" aria-label="Animated striped example" aria-valuenow="5" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar progress-bar-striped progress-bar-animated fw-semibold" style="width: 5%">5%</div>
            </div>
            <!-- FIM-Progresso -->

            <a href="#">
              <div class="d-grid gap-2 col-6 mx-auto ">
                <button class="btn btn-success fw-bold" type="button">Comprar</button>
              </div>
            </a>
          </div>
        </div>
        <!-- FIM-Produto 1/2 -->

      </div>
    </div>
  </div>





</div>
{% endblock information %}

{% block main-content %}
    
    
{% endblock main-content %}