<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'ecom/css/owl.carousel.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'ecom/css/all.min.css' %}"/>
  <link rel="stylesheet" href="{% static 'ecom/css/style.css' %}"/>

  <title>Instituto Federal | {% block title %}{% endblock title %}</title>
  <link rel="shortcut icon" href="{% static 'img/base/favicon.ico' %}" type="image/x-icon">
</head>
<body class="bg-white">

  <nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
    <div class="container-fluid mx-5 pe-4">
      <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/base/logo.png' %}" class="bg-white p-1 rounded" alt="Logo" width="30" height="30">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" href="{% url 'index' %}">INÍCIO</a>
          </li>
          
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cadastros
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

              <a class="dropdown-item" href="{% url 'listar-cidade' %}">Cidades</a>
              <a class="dropdown-item" href="{% url 'listar-estado' %}">Estados</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'listar-campus' %}">Campus</a>
              <a class="dropdown-item" href="{% url 'listar-status' %}">Status</a>
              <a class="dropdown-item" href="{% url 'listar-situacao' %}">Situações</a>
              <a class="dropdown-item" href="{% url 'listar-classe' %}">Classes</a>
              <a class="dropdown-item" href="{% url 'listar-progressao' %}">Progressões</a>
              <a class="dropdown-item" href="{% url 'listar-campo' %}">Campos</a>
              <a class="dropdown-item" href="{% url 'listar-atividade' %}">Atividades</a>
              <a class="dropdown-item" href="{% url 'listar-comprovante' %}">Comprovantes</a>

          </div>
          </li>
          {% endif %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'sobre' %}">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'contato' %}">Ajuda</a>
          </li>
        </ul>

        <ul class="navbar-nav fw-bold me-3">
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown text-white">
            <a class="nav-link dropdown-toggle active text-capitalize" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ request.user }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Perfil</a></li>
                <li><a class="dropdown-item" href="#">Minhas Rifas</a></li>
                <li><a class="dropdown-item" href="#">Trocar Senha</a></li>
                <li><a class="dropdown-item" href="#">F.A.Q</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sair</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'login' %}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Cadastrar</a>
          </li>
          {% endif %}

        </ul>
        
      </div>
    </div>
  </nav>

    
    <div class="mt-5">
      <div class="container">{% block banner-slider %}{% endblock banner-slider %}</div>
      <div class="container">{% block information %}{% endblock information %}</div>
      <div class="container">{% block conteudo %}{% endblock conteudo %}</div>
    </div>

    <footer class="container-fluid text-white bg-success text-center py-1 mt-5">
      Copyright : 2023 | <strong>IF</strong> | <small>LLS Log Software</small>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    
    <script src="{% static 'ecom/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'ecom/js/all.min.js' %}"></script>
    <script src="{% static 'ecom/js/myscript.js' %}"></script>
</body>
</html>






