{% extends 'paginas/modelo.html' %}

{% load static %}
{% block title %}Lista Estados{% endblock title %}

{% block conteudo %}
<h3>
    Lista de Estados registrados
</h3>

<hr>

<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>UF</th>
            <th>Estado</th>
            <th>Opções</th>
        </tr>
    
        {% for object in object_list %}
        <tr>
            <td>{{ object.uf }}</td>
            <td>{{ object.nome }}</td>
            <th>
                <a href="{% url 'editar-estados' object.pk %}" class="btn btn-warning btn-sm" title="Editar">Editar</a>
                <a href="{% url 'excluir-estados' object.pk %}" class="btn btn-danger btn-sm" title="Excluir">Excluir</a>
            </th>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">Nenhum campus registrado.</td>
        </tr>
        {% endfor %}
    
    </table>
</div>
{% endblock %}